nz-card {
  max-width: 100%;
  margin-bottom: 10px;
}
.content {
  .description {
    font-size: .7rem;
  }
  .actions {
    button {
      width: 100%;
      cursor: pointer;
      i {
        position: relative;
        padding-right: 5px;
      }
    }
  }
}

:host ::ng-deep {
  .ant-card-body {
    padding: 10px;
    .ant-card-meta-title {
      font-size: .8rem;
      margin-bottom: 0;
    }
  }
}

