<nz-card nzHoverable [nzCover]="coverTemplate">
  <nz-card-meta [nzTitle]="product.nombre" [nzDescription]="productContent"></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img alt="example" src="https://dummyimage.com/183x183/000/fff" />
</ng-template>

<ng-template #productContent>
  <div class="content">
    <div class="top">
      <p class="description">{{ product.descripcion }}</p>
    </div>
    <div class="actions">
      <button class="primary-button" (click)="addProduct()">
        <em nz-icon nzType="shopping-cart" nzTheme="outline"></em>
        Agregar
      </button>
    </div>
  </div>
</ng-template>


