<div class="title" *ngIf="!loggedUser">
  <p>{{ !isRegister ? 'Iniciar Sesión' : 'Registro' }}</p>
</div>
<form *ngIf="!loggedUser" nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Email">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Contraseña">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div class="button-container">
    <button nz-button class="primary-button login-form-button login-form-margin">{{ isRegister ? 'Registrarme' : 'Entrar' }}</button>
    <p>o <a (click)="isRegister = !isRegister">{{ !isRegister ? 'Registrarme' : 'Iniciar Sesión' }}</a></p>
  </div>
</form>
<div class="title" *ngIf="loggedUser">
  <p>Usuario Logeado</p>
  <button nz-button class="primary-button login-form-button login-form-margin" (click)="signOut()">Cerrar Sesión</button>
</div>
