<app-navbar></app-navbar>

<div class="product-list-container">
  <div nz-row [nzGutter]="12">
    <app-product-card
      nz-col nzXs="24" nzSm="12" nzMd="6"
      *ngFor="let product of productList"
      [product]="product"
      (productAdded)="addProduct($event)"
    ></app-product-card>
  </div>
</div>
