  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    background-color: #005b56;
    margin-bottom: 15px;
    .navbar {
      background-color: transparent;
      color: #ffffff;
      font-size: 1.2rem;
      li {
        border: none;
      }
    }
    .logo {
      max-height: 2rem;
    }
  }
:host ::ng-deep {
  .cart {
    font-size: 1.1rem;
    color: #ffffff;
  }
  .user {
    font-size: 1.1rem;
    color: #ffffff;
  }
}
