<div class="navbar-container">
  <img class="logo" src="/assets/logo/logo-tul.png" alt="">
  <ul nz-menu nzMode="horizontal" class="navbar">
    <li nz-menu-item class="cart" (click)="showCart()">
      <em class="cart" nz-icon nzType="shopping-cart" nzTheme="outline"></em>
    </li>
    <li nz-menu-item (click)="showLogin()">
      <em nz-icon nzType="user" class="user" nzTheme="outline"></em>
    </li>
  </ul>
</div>
