.header {
  .title, .price {
    font-weight: 600;
    font-size: 1.3rem;
  }
}


nz-list-item-meta {
  align-items: center;
}


.actions {
  margin-top: 20px;
  button {
    cursor: pointer;
    width: 100%;
  }
}

.content {
  justify-content: space-between;
  align-items: center;
  .price {
    text-align: center;
  }
  .title {
    font-weight: 600;
    font-size: 1rem;
  }
  .left {
    .description {
      margin-bottom: 0;
    }
  }
  .actions {
    width: 25%;
    text-align: center;
    button {
      margin: 0 5px 0 5px;
    }
    button, div {
      display: inline-block;
      width: 25px;
      height: 25px;
    }
  }
}
