<div class="header">
  <p class="title">Carrito</p>
</div>

<nz-list nzItemLayout="horizontal">
  <nz-list-item *ngFor="let product of products">
    <nz-list-item-meta nzAvatar="https://dummyimage.com/183x183/000/fff">
      <nz-list-item-meta-description>
        <div nz-row class="content">
          <div nz-col nzXs="24" nzSm="11" class="left">
            <div class="title">{{ product.nombre }}</div>
            <p class="description">{{ product.descripcion }}</p>
          </div>
          <div nz-col nzXs="8" nzSm="4" class="price">
            <span>{{ product.precio | currency }}</span>
          </div>
          <div nz-col nzXs="16" nzSm="9" class="actions">
            <button class="primary-button" (click)="deleteProduct(product, true)">
              <em nz-icon nzType="delete" nzTheme="outline" (click)="deleteProduct(product, true)"></em>
            </button>
            <button class="primary-button" (click)="deleteProduct(product)">-</button>
            <div><span>{{ product.qty }}</span></div>
            <button class="primary-button" (click)="addProduct(product)">+</button>
          </div>
        </div>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-empty *ngIf="products.length === 0"></nz-list-empty>
</nz-list>
<div class="actions">
  <button class="primary-button" *ngIf="products.length > 0" (click)="completeOrder()">
    <em nz-icon nzType="profile" nzTheme="outline"></em> Completar Orden
  </button>
</div>

